<!DOCTYPE html>
<html>
  <head>
    <title>BookList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="nav">
      <ul class="header-menus">
        <li>
        <%= link_to("名言", "") %>
        </li>
        <li>
        <%= link_to("読みたい本", "") %>
        </li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
